.module--corporate {

    div,span,p,a,img,strong,i,ul,li,nav,section{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
    nav,section{display:block;}
    ul{list-style:none;}
    button,input{font-family:sans-serif;color:#222;}
    ::-moz-selection{background:rgba(2,139,255,1);color:#fff;text-shadow:none;}
    ::selection{background:rgba(2,139,255,1);color:#fff;text-shadow:none;}
    p{margin:0 0 18px 0;}
    i{font-style:italic;}
    strong{font-weight:bold;}
    a,a:visited{color:rgb(2,139,255);text-decoration:underline;outline:0;}
    a:hover,a:focus,a:active{color:#222;outline:0;}
    p a,p a:visited{line-height:inherit;}
    img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;}
    #dnn_dnnLOGO_imgLogo{border:0;}
    ul{margin-bottom:18px;margin-left:18px;}
    ul{list-style:square outside;}
    ul ul{margin-left:18px;margin-bottom:0;}
    li p{line-height:18px;}
    .searchInputContainer{display:inline-block;margin:0 -3px 0 0;position:relative;}
    .searchInputContainer > input[type="text"]::-ms-clear{display:none;}
    .searchInputContainer a.dnnSearchBoxClearText{display:block;position:absolute;right:10px;width:16px;height:16px;background:none;cursor:pointer;margin:7px 0 7px 0;z-index:20;}
    *,*::before,*::after{-webkit-box-sizing:border-box;box-sizing:border-box;}
    nav,section{display:block;}
    p{margin-top:0;margin-bottom:1rem;}
    ul{margin-top:0;margin-bottom:1rem;}
    ul ul{margin-bottom:0;}
    strong{font-weight:bolder;}
    a{color:#2780E3;text-decoration:none;background-color:transparent;}
    a:hover{color:#165ba8;text-decoration:underline;}
    a:not([href]):not([tabindex]){color:inherit;text-decoration:none;}
    a:not([href]):not([tabindex]):hover,a:not([href]):not([tabindex]):focus{color:inherit;text-decoration:none;}
    a:not([href]):not([tabindex]):focus{outline:0;}
    img{vertical-align:middle;border-style:none;}
    button{border-radius:0;}
    button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color;}
    input,button{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
    button,input{overflow:visible;}
    button{text-transform:none;}
    button,[type="button"]{-webkit-appearance:button;}
    button::-moz-focus-inner,[type="button"]::-moz-focus-inner{padding:0;border-style:none;}
    .list-unstyled{padding-left:0;list-style:none;}
    .container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
    @media (min-width: 576px){
    .container{max-width:540px;}
    }
    @media (min-width: 768px){
    .container{max-width:720px;}
    }
    @media (min-width: 992px){
    .container{max-width:960px;}
    }
    @media (min-width: 1200px){
    .container{max-width:1140px;}
    }
    .row{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
    .col-md-4,.col-md-7{position:relative;width:100%;padding-right:15px;padding-left:15px;}
    @media (min-width: 768px){
    .col-md-4{-webkit-box-flex:0;-ms-flex:0 0 33.3333333333%;flex:0 0 33.3333333333%;max-width:33.3333333333%;}
    .col-md-7{-webkit-box-flex:0;-ms-flex:0 0 58.3333333333%;flex:0 0 58.3333333333%;max-width:58.3333333333%;}
    }
    .collapse:not(.show){display:none !important;}
    .dropdown{position:relative;}
    .dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:10rem;padding:0.5rem 0;margin:0.125rem 0 0;font-size:0.9375rem;color:#373a3c;text-align:left;list-style:none;background-color:#fff;background-clip:padding-box;border:1px solid rgba(0,0,0,0.15);}
    .navbar{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding:0.5rem 1rem;}
    .navbar-brand{display:inline-block;padding-top:0.32421875rem;padding-bottom:0.32421875rem;margin-right:1rem;font-size:1.171875rem;line-height:inherit;white-space:nowrap;}
    .navbar-brand:hover,.navbar-brand:focus{text-decoration:none;}
    .navbar-nav{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;padding-left:0;margin-bottom:0;list-style:none;}
    .navbar-nav .dropdown-menu{position:static;float:none;}
    .navbar-text{display:inline-block;padding-top:0.5rem;padding-bottom:0.5rem;}
    .navbar-collapse{-ms-flex-preferred-size:100%;flex-basis:100%;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
    .navbar-toggler{padding:0.25rem 0.75rem;font-size:1.171875rem;line-height:1;background-color:transparent;border:1px solid transparent;}
    .navbar-toggler:hover,.navbar-toggler:focus{text-decoration:none;}
    .navbar-toggler-icon{display:inline-block;width:1.5em;height:1.5em;vertical-align:middle;content:"";background:no-repeat center center;background-size:100% 100%;}
    @media (min-width: 992px){
    .navbar-expand-lg{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row nowrap;flex-flow:row nowrap;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;}
    .navbar-expand-lg .navbar-nav{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;}
    .navbar-expand-lg .navbar-nav .dropdown-menu{position:absolute;}
    .navbar-expand-lg .navbar-collapse{display:-webkit-box!important;display:-ms-flexbox!important;display:flex!important;-ms-flex-preferred-size:auto;flex-basis:auto;}
    .navbar-expand-lg .navbar-toggler{display:none;}
    }
    .navbar-light .navbar-toggler{color:rgba(0,0,0,0.5);border-color:rgba(0,0,0,0.1);}
    .navbar-light .navbar-toggler-icon{background-image:url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");}
    .navbar-light .navbar-text{color:rgba(0,0,0,0.5);}
    .navbar-light .navbar-text a{color:rgba(0,0,0,0.9);}
    .navbar-light .navbar-text a:hover,.navbar-light .navbar-text a:focus{color:rgba(0,0,0,0.9);}
    .d-flex{display:-webkit-box!important;display:-ms-flexbox!important;display:flex!important;}
    .justify-content-between{-webkit-box-pack:justify!important;-ms-flex-pack:justify!important;justify-content:space-between!important;}
    .float-right{float:right!important;}
    .sr-only{position:absolute;width:1px;height:1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border:0;}
    .shadow-sm{-webkit-box-shadow:0 0.125rem 0.25rem rgba(0,0,0,0.075)!important;box-shadow:0 0.125rem 0.25rem rgba(0,0,0,0.075)!important;}
    .w-100{width:100%!important;}
    .mt-2{margin-top:0.5rem!important;}
    .mt-3{margin-top:1rem!important;}
    .mx-5{margin-right:3rem!important;}
    .mx-5{margin-left:3rem!important;}
    .px-2{padding-right:0.5rem!important;}
    .px-2{padding-left:0.5rem!important;}
    .pb-3{padding-bottom:1rem!important;}
    .mx-auto{margin-right:auto!important;}
    .mx-auto{margin-left:auto!important;}
    @media (min-width: 768px){
    .mx-md-auto{margin-right:auto!important;}
    .mx-md-auto{margin-left:auto!important;}
    }
    @media print{
    *,*::before,*::after{text-shadow:none!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
    a:not(.btn){text-decoration:underline;}
    img{page-break-inside:avoid;}
    p{orphans:3;widows:3;}
    .container{min-width:992px!important;}
    .navbar{display:none;}
    }
    .fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1;}
    .fa-search:before{content:"\f002";}
    .sr-only{border:0;clip:rect(0,0,0,0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
    .fas{font-family:"Font Awesome 5 Pro";font-weight:900;}
    a,a:link,a:visited,a:focus{color:#892e3b;text-decoration:underline;background-color:transparent;}
    a:hover,a:active{color:#4d3653;text-decoration:none;}
    #header{background-color:white;}
    #dnn_dnnLOGO_hypLogo{display:block;text-align:center;}
    @media (min-width: 768px){
    #dnn_dnnLOGO_hypLogo{margin-right:0!important;margin-left:0!important;}
    }
    .search_main{top:8px;position:relative;line-height:1.5;max-width:200px;}
    .searchInputContainer{float:right;position:relative;right:30px;}
    .search,a.search:link,a.search:active,a.search:visited{position:relative;left:194px;top:11px;}
    .fas.fa-search{color:#4d3653;font-size:16px;}
    @media only screen     and (min-device-width: 375px)     and (max-device-width: 812px)     and (-webkit-min-device-pixel-ratio: 3)    and (orientation: portrait){
    .search,a.search:link,a.search:active,a.search:visited{left:163px;}
    }
    @media screen and (max-width:766px){
    .navbar-brand{text-align:center;}
    }
    input[type="text"]{border:1px solid #767575;background:#fefefe;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;margin:4px 0;padding:5px;width:100%;}
    .yamm .collapse,.yamm .dropdown{position:static;}
    .yamm .dropdown-menu{left:auto;border:none;}
    .yamm .yamm-content{padding:1rem;}
    .yamm .dropdown.yamm-fw .dropdown-menu{left:0;right:0;}
    @media (min-width: 1200px){
    .navbar{margin:0;padding:0;}
    .yamm .dropdown-menu li{margin-left:0;text-align:left;}
    .navbar.navbar-expand-lg.yamm.RMList.navbar-light .navbar-nav{float:none;max-width:1080px;text-align:center;color:#2b2b2b!important;}
    .navbar.navbar-expand-lg.yamm.RMList.navbar-light .navbar-nav > li{display:inline-block;float:none;margin:0 10px;}
    .navbar.navbar-expand-lg.yamm.RMList.navbar-light .navbar-nav > li > a:link{padding:15px 0 30px 0;color:#4d4d4d;font-weight:bold;text-decoration:none;}
    div.yamm-content div.dropdownContainer ul{float:none;display:inline-block;vertical-align:top;padding-top:10px;min-width:135px;}
    div.yamm-content div.dropdownContainer{margin:0 auto;text-align:center;vertical-align:top;}
    ul.navbar-nav > li.dropdown > ul.dropdown-menu{border:medium none;box-shadow:none;padding:0.5rem 0;background:rgb(255, 255, 255);border-top:1px solid #eaeaea;}
    .navbar.navbar-expand-lg.yamm.RMList.navbar-light div.yamm-content{padding-top:0;}
    ul.dropdown-menu li div.yamm-content div.dropdownContainer li a{color:#efad40;text-align:left;font-size:1.05rem;}
    ul.dropdown-menu li div.yamm-content div.dropdownContainer li:nth-child(n+2) a{color:black;font-size:.95rem;}
    }
    .navbar.navbar-expand-lg.yamm.RMList.navbar-light{background:unset;box-shadow:none;width:100%;color:#2b2b2b;}
    .navbar-nav > li > .dropdown-menu{margin-top:0.25vh;}
    .yamm .dropdown-menu li:first-child a:link,.yamm .dropdown-menu li:first-child a:visited{text-align:center;font-size:1.35rem;color:var(--grape);text-decoration:none;cursor:default;}
    .yamm .dropdown-menu li:first-child a:hover,.yamm .dropdown-menu li:first-child a:active{text-decoration:none;cursor:hand;}
    .yamm .dropdown-menu li:nth-child(n+2) > a:link,.yamm .dropdown-menu li:nth-child(n+2) > a:visited{color:#2b2b2b;font-size:1.2rem;line-height:1.4;}
    .yamm .dropdown-menu li:nth-child(n+2) > a:hover,.yamm .dropdown-menu li:nth-child(n+2) > a:active{text-decoration:underline;}
    .navbar.navbar-expand-lg.yamm.RMList.navbar-light .navbar-nav > li > a:hover{text-decoration:underline;}
    .navbar-text{font-size:1.1rem;line-height:1.4;}
    .nav-item.dropdown.yamm-fw{font-size:1.23rem;line-height:1.4;text-decoration:none;}
    ul.dropdown-menu li div.yamm-content div.dropdownContainer li:nth-child(n+2) a:hover{cursor:hand;}
    @media (max-width: 1199px){
    .navbar-text a:link{color:#3d3d3d;}
    .yamm .yamm-content{padding:.25em .5rem;}
    .dropdownContainer > ul.list-unstyled{margin-top:1.1rem;}
    }
    .fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1;}
    .fa-search:before{content:"\f002";}
    .sr-only{border:0;clip:rect(0,0,0,0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
    .fas{font-family:"Font Awesome 5 Pro";font-weight:900;}

    #dnn_TopNav p,#dnn_TopNav a:link,#dnn_TopNav a:visited,#dnn_TopNav a:hover,#dnn_TopNav a:active{color:#444;font-size:.85rem;}
    .DNNContainer_noTitle{padding:0px;word-wrap:break-word;}
}

.corporate--footer {
    div,section{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
    section{display:block;}
    ::-moz-selection{background:rgba(2,139,255,1);color:#fff;text-shadow:none;}
    ::selection{background:rgba(2,139,255,1);color:#fff;text-shadow:none;}
    *,*::before,*::after{-webkit-box-sizing:border-box;box-sizing:border-box;}
    section{display:block;}
    .container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
    @media (min-width: 576px){
    .container{max-width:540px;}
    }
    @media (min-width: 768px){
    .container{max-width:720px;}
    }
    @media (min-width: 992px){
    .container{max-width:960px;}
    }
    @media (min-width: 1200px){
    .container{max-width:1140px;}
    }
    .row{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
    .col-md-12{position:relative;width:100%;padding-right:15px;padding-left:15px;}
    @media (min-width: 768px){
    .col-md-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;}
    }
    .py-5{padding-top:3rem!important;}
    .py-5{padding-bottom:3rem!important;}
    @media print{
    *,*::before,*::after{text-shadow:none!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
    .container{min-width:992px!important;}
    }
    #preFooter.wallpaperSection{background:#ffffff bottom left repeat-x url(#{$host}/design/footerBG.png)!important;min-height:200px;}
    div,span,p,a,img,footer{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
    footer{display:block;}
    ::-moz-selection{background:rgba(2,139,255,1);color:#fff;text-shadow:none;}
    ::selection{background:rgba(2,139,255,1);color:#fff;text-shadow:none;}
    p{margin:0 0 18px 0;}
    p img{margin:0;}
    a,a:visited{color:rgb(2,139,255);text-decoration:underline;outline:0;}
    a:hover,a:focus,a:active{color:#222;outline:0;}
    p a,p a:visited{line-height:inherit;}
    img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;}
    *,*::before,*::after{-webkit-box-sizing:border-box;box-sizing:border-box;}
    footer{display:block;}
    p{margin-top:0;margin-bottom:1rem;}
    a{color:#2780E3;text-decoration:none;background-color:transparent;}
    a:hover{color:#165ba8;text-decoration:underline;}
    a:not([href]):not([tabindex]){color:inherit;text-decoration:none;}
    a:not([href]):not([tabindex]):hover,a:not([href]):not([tabindex]):focus{color:inherit;text-decoration:none;}
    a:not([href]):not([tabindex]):focus{outline:0;}
    img{vertical-align:middle;border-style:none;}
    @media (min-width: 576px){
    .container{max-width:540px;}
    }
    @media (min-width: 768px){
    .container{max-width:720px;}
    }
    @media (min-width: 992px){
    .container{max-width:960px;}
    }
    @media (min-width: 1200px){
    .container{max-width:1140px;}
    }
    .row{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
    .col,.col-md-4,.col-md-6{position:relative;width:100%;padding-right:15px;padding-left:15px;}
    .col{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%;}
    @media (min-width: 768px){
    .col-md-4{-webkit-box-flex:0;-ms-flex:0 0 33.3333333333%;flex:0 0 33.3333333333%;max-width:33.3333333333%;}
    .col-md-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%;}
    .offset-md-6{margin-left:50%;}
    }
    @media (min-width: 768px){
    .float-md-right{float:right!important;}
    }
    .mx-2{margin-right:0.5rem!important;}
    .mb-2{margin-bottom:0.5rem!important;}
    .mx-2{margin-left:0.5rem!important;}
    .mt-3{margin-top:1rem!important;}
    .mb-3{margin-bottom:1rem!important;}
    .p-0{padding:0!important;}
    .py-2{padding-top:0.5rem!important;}
    .py-2{padding-bottom:0.5rem!important;}
    .m-auto{margin:auto!important;}
    .text-center{text-align:center!important;}
    @media (min-width: 768px){
    .text-md-left{text-align:left!important;}
    .text-md-right{text-align:right!important;}
    }
    @media print{
    *,*::before,*::after{text-shadow:none!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
    a:not(.btn){text-decoration:underline;}
    img{page-break-inside:avoid;}
    p{orphans:3;widows:3;}
    .container{min-width:992px!important;}
    }
    a,a:link,a:visited,a:focus{color:#892e3b;text-decoration:underline;background-color:transparent;}
    a:hover,a:active{color:#4d3653;text-decoration:none;}
    #FooterContainer{padding:1vh 0;margin:auto;}
    #FooterContainer{color:#447c90;background-color:white;border-top:1px solid #bdbdbd;}
    #FooterContainer p{color:#fff;}
    #FooterContainer a:link,#FooterContainer a:visited{color:#fff;background:rgb(56,43,80);}
    #FooterContainer a:hover,#FooterContainer a:active{color:#f2f2f2;text-decoration:none;}
    #FooterRow{font-size:.75em;}
    div#dnn_FooterMiddle p,div#dnn_FooterMiddle a:link,div#dnn_FooterMiddle a:visited{color:#fff;text-transform:uppercase;}
    div#dnn_FooterMiddle a:hover,div#dnn_FooterMiddle a:active{color:#f2f2f2;text-decoration:none;}
    .footerLogo{max-width:200px;}
    img.facebook,img.twitter,img.alaska{width:40px;height:auto;}
    img.ehl,img.fdic{width:50px;height:auto;}
    .DNNContainer_noTitle{padding:0px;word-wrap:break-word;}
    #FooterContainer.wallpaperSection{background:#382b50;border:none!important;color:#fff!important;}
}